{% extends 'layouts/app.html' %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Página Inicial</h1>
    </div>
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Total de Lojas</div>
        <div class="card-body">
          <p class="card-text" id="totallojas">0</p>
        </div>
      </div>
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Total de Usuários</div>
        <div class="card-body">
          <p class="card-text" id="totalusuarios">0</p>
        </div>
      </div>
    <script src="assets/js/home.js"></script>
{% endblock %}
